<footer class="bg-navy  text-white text-center ">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4">
                <h3 class="text-uppercase">Location</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-uppercase">AROUND THE WEB</h3>
                <ul class="d-flex justify-content-center social-icons gap-2">
                    <li>
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-globe"></i>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="text-uppercase">ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
            <div class="dark-navy text-white">
                <p class="mb-0 py-4">Copyright © Your Website 2021</p>
            </div>
</footer>