<section id="about" class="bg-main text-white vh-85 d-flex justify-content-center align-items-center">
    <div class="container  d-flex justify-content-center align-items-center flex-column">
        <h1>ABOUT COMPONENT</h1>
        <app-title></app-title>
        <div class="row">
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML,
                    CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including
                    HTML,
                    CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>

</section>