.star-ico::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 40px;
    width: 90px;
    height: 5px;
    background-color: #2C3E50;
}

.star-ico::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 40px;
    width: 90px;
    height: 5px;
    background-color: #2C3E50;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn:hover {
    background-color: #1abc9c !important;

}
